body{
    position: absolute;
    margin: 0 auto;
    width: 1620px;
    height: 3067px;
}

.header {
    position: absolute;
    width: 1620px;
    height: 120px;
    padding-left: 299px;
    align-items: left;

    border-color: #000000;
    border-width: 1px;
    border-style: dashed;
    background: #f0ede9;
}

.logodiv {
    width: 196px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.infosvg {
    position: absolute;
    margin-top: 12px;
    margin-left: 30px;
    width: 680.3px;
    height: 25px;
    float: left;
    clear: right;
}

.socials {
    position: absolute;
    right: 300px;
    margin-top: 17px;
}

.headersplit {
    position: absolute;
    width: 1095px;
    height: 1px;
    right: 300px;
    margin-top: 42px;
    background: rgba(25,25,25,0.1 );
}