body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
}

.topbar {
    width: 100%;
    height: 48px;
    background-color: bisque;
    z-index: 2;
    position: relative;
}
.logo {
    max-height: 100%;

}

.topbar2 {
    width: 100%;
    height: 370px;
    background-color: bisque;
    position: relative;
    z-index: 2;
}