body{
    position: absolute;
    margin: 0 auto;
    width: 1920px;
    height: 3067px;
}

.header {
    position: absolute;
    width: 1920px;
    height: 120px;
    padding-left: 299px;

    border-color: #000000;
    border-width: 1px;
    border-style: dashed;
    background: #f0ede9;
}

.logodiv {
    width: 196px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

